<!DOCTYPE html>
<html>
	<head>
		<title>Error, page not found</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div>
			<h1>404 Error</h1>
			<h3>That's Right!</h3>
			<p>You came all the way only to realize <br />that the page you are trying to find does not exist.</p>
			<a href="/"><button>Back to home</button></a>
		</div>
	</body>
</html>
